# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Django-specific files
db.sqlite3
*.log

# Static files
staticfiles/
static/

# Media files
media/

# Virtual environment
venv/
env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Testing and coverage
.coverage
htmlcov/
*.cover
*.py,cover
.tox/
.nox/
.cache/
coverage.xml
nosetests.xml
pytest_cache/
*.pytest_cache/

# Mypy
.mypy_cache/

# PyInstaller
*.manifest
*.spec

# Celery
celerybeat-schedule
celerybeat.pid

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
